 * {
   margin:0;
   padding:0;
 }

 /****  Debut page accueil****/

 main{
   height: 100vh;
   width: 100vW;
   background: dimgray;
 }

 h1{
   font-size: 4em;
   color: salmon;
   height: 50px;
   text-align: center;
   margin: auto;
   padding: 30px;
   text-shadow: 4px 4px 4px gray;
 }

 p{
   height:50px;
   width: 220px;
   color: dimgray;
   font-weight: bold;
   font-size: 1.8em;
   text-align: center;
   opacity: .8;
   position: relative;
   top: -10px;
   left: -10px;
 }

 .contenu{
   float: left;
   margin: 50px 0px 50px 130px;
 }

 button{
      margin: 50px;
 }

 button:hover{
   background-color: coral;
 }

 #principal{
   border: 10px dotted dimgray;
   width: 60%;
   margin: auto;
   height: 350px;
   background: url('../image/fond.jpg');
 }

 img:hover{
   width: 200px;
 }

 #infos{
  width: 80px;
  height: 30px;
  position: absolute;
  top: 450px;
  left: 1050px;
 }

/*fin de la page d'accueil*/

/*Debut de la page formulaire*/

#formulaire, #liste{
  height: 100vh;
  width: 100vW;
  background: dimgray;
}

 form{
   border: 5px dotted dimgray;
   border-radius: 4%;
   width: 500px;
   height: 350px;
   position: relative;
   top: 50px;
   left: 370px;
   background: url('../image/fond.jpg');
   padding:50px 0 0 50px;
 }


#formulaire input{
  margin-bottom:20px;
}

#valider{
  margin-top:40px;
  margin-left: 30%;
  width:150px;
  height: 50px;
  background:lightgray;
  opacity: .8;
}

#valider:hover{
  background-color: dimgray;
}

tr,td, th {
    border: 2px groove gold;
    width:50px;
    padding: 15px;
    color: #fff;
 }

 table{
  border-collapse: collapse;
  position: relative;
  top: 100px;
  left: 200px;

 }
